@import "~/.cache/wal/colors-rofi-dark.rasi"

configuration { 
  modi: "run,drun,window";
  font: "Iosevka Nerd Font Mono 18";
  terminal: "alacritty";
  disable-history: true;
  sidebar-mode: true;
  tokenize: true;
  m: "-5";
  hide-scrollbar: true;
  window-format: "{w} {c}";
  show-icons:         true;
  drun-display-format: "{icon} {name}";
  display-drun: "   Apps ";
  display-run: "   Run ";
  display-window: " 﩯  Window";
}
